:root{
      /* Card colors */
  --accent-red: hsl(0, 78%, 62%);
  --accent-cyan: hsl(180, 62%, 55%);
  --accent-orange: hsl(34, 97%, 64%);
  --accent-blue: hsl(212, 86%, 64%);
  /* Neutrals */
  --dark-blue: hsl(234, 12%, 34%);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
  /* Font */
  --main-font: 'Poppins', sans-serif;
}

*{
    border:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-size: 15px;
     height:100vh; 
    background: var(--light-gray);
    font-style:var(--main-font);
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; */
}

.card-container{
    display:flex;
    flex-direction: column;
}

@media(min-width:900px){
    .card-container{
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    header{
        max-width:550px;
    }
}
 p{
    color:var(--gray-blue);
    font-size:15px;
    font-family:var(--main-font);
}

.heading-thin{
    font-weight:200;
    font-size: 24.8px;
}

.heading-bold{
    font-weight: 600;
    font-size: 24.8px;
}
.card-header{
    font-size: 20px;
}

header{
    text-align: center;
    font-family:var(--main-font);
    font-size:20px;
    font-weight: 600;
}


.main-para{
    font-weight: 400;
    color:var(--gray-blue);
    line-height: 1.4;
    font-family:var(--main-font);
}


h3{
    font-size: 20px;
    font-family: var(--main-font);
    
}


.card{
 border-top-width: 5px;
  border-top-style: solid;
  border-radius: 0.5rem;
  padding: 1.85rem;
  margin: 0 auto 1.75rem auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 365px;
  width: 100%;
  height: 255px;
  background: #fff;
  box-shadow: -1px 10px 22px -10px var(--gray-blue);
}

.card-icon{
    /* justify-content: flex-end;
    width:22%; */
    float:right;
}

.card-header{
    margin:0px 0px 5.6px;
}

/* Card Colors */

.card--cyan{
    border-top-color:var(--accent-cyan);
}

.card--red{
    border-top-color:var(--accent-red);
}

.card--orange{
    border-top-color: var(--accent-orange);
}

.card--blue{
    border-top-color: var(--accent-blue);
}
/* Footer */

footer{
    position:fixed;
    text-align: center;
}
.attribution { 
    color:black;
    font-size: 11px;
     text-align: center;
     }

.attribution a { 
    color: hsl(228, 45%, 44%);
 }
